body {
    margin: 0;
    font-family: roboto;
}

h1 {
    text-transform: capitalize;
    margin-bottom: 0;
}

#pokedex {
    min-height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

#pokemonImg {
    height: 300px;
    object-fit: cover;
    margin-top: -270px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    min-height: 50vh;
    margin-top: -10vh;
    display: flex;
    justify-content: center;
}

.bg-fire {
    background-color: rgb(252, 108, 109);
}

.bg-grass {
    background-color: rgb(73, 208, 176);
}

#pokemonTypes {
    display: flex;
    gap: 8px;
}

.pokemon-type {
    height: 16px;
    width: 80px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

#pokemonId {
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

@media(min-width: 768px) {
    #singleView {
        border-radius: 16px;
    }
}