body {
    margin: 0;
    font-family: roboto;
}

h1 {
    text-transform: capitalize;
    margin-bottom: 0;
}

h3 {
    font-size: medium;
    text-transform: capitalize;
    margin-bottom: 0;
}

.d-none {
    display: none;
}

#pokedex {
    min-height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

#overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

.pokemon-card {
    height: 120px;
    width: calc(40vw);
    max-width: 180px;
    min-width: 140px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    background-color: aqua;
    position: relative;
    cursor: pointer;
}

#pokemonImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-top: -270px;
}

.pokemon-img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -10vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background-color: rgb(44, 44, 44);
}

.bg-blue {
    background-color: rgb(44, 41, 255);
}

.bg-brown {
    background-color: rgb(105, 52, 8);
}

.bg-gray {
    background-color: rgb(122, 122, 122);
}

.bg-green {
    background-color: rgb(73, 208, 176);
}

.bg-pink {
    background-color: rgb(255, 104, 255);
}

.bg-purple {
    background-color: rgb(102, 44, 102);
}

.bg-red {
    background-color: rgb(252, 108, 109);
}

.bg-white {
    background-color: rgb(199, 199, 199) !important;
}

.bg-yellow {
    background-color: rgb(253, 232, 44);
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.5);
}

#pokemonTypes {
    display: flex;
    gap: 8px;
}

.pokemon-types-overview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 6px;
    font-size: small;
}

.pokemon-type-overview {
    height: 16px;
    width: max-content;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: capitalize;
}

.pokemon-type {
    height: 16px;
    width: 80px;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

#pokemonId {
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: right;
}

.pokemonId {
    font-size: small;
    font-weight: bold;
    display: flex;
    position: absolute;
    right: 6px;
}

.pokemon-table {
    display: flex;
    min-width: 250px;
    font-size: small;
    text-transform: capitalize;
    margin: 16px;
}

table td:nth-child(1) {
    min-width: 100px;
}

table td:nth-child(2) {
    font-weight: bold;
    padding-left: 12px;
    padding-right: 8px;
}

table tr {
    padding-top: 4px;
    padding-bottom: 40px;
    height: 46px;
}

table td:nth-child(3) {
    width: 100vw;
}

#singleView {
    height: 100vh;
    position: absolute;
    top: 0;
}

@media(min-width: 768px) {
    #singleView {
        border-radius: 16px;
        max-width: 600px;
        left: calc(50vw - 300px);
    }
}